<div class="container my-4">
    <h1>All Authors</h1>
    <form method="get" action="/authors" class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Author Name" name="name" value="<%= locals.searchOptions %>">
        <button class="btn btn-outline-primary" type="submit">Search Author</button>
    </form>
    <% if(authors.length === 0){ %> 
        <p class="form-text">No Authors found.</p>
    <% }else{ %> 
    <% authors.forEach( (author)=>{ %> 
        <div class="card my-2">
            <div class="card-body d-flex">
              <h5><%= author.name %></h5>
              <div class="d-flex ms-auto">
              <a href="/authors/<%= author.id %>" class="btn btn-primary">View</a>
              <a href="/authors/<%= author.id %>/edit" class="btn btn-primary mx-2">Edit</a>
              <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
            </div>
        </div>
    <% })} %> 
</div>